 <EventContainer>
   <Events>
	      <Event id="0">
		      <FlavorText>"Mon git marche pas D':"</FlavorText>
          <teamProgEffect>0.25</teamProgEffect>
          <teamArtEffect>0.75</teamArtEffect>
          <teamSaltEffect>1</teamSaltEffect>
          <teamSleepEffect>1</teamSleepEffect>
	      </Event>
	      <Event id="1">
          <FlavorText>"Mon perforce marche pas D':"</FlavorText>
          <teamProgEffect>0.75</teamProgEffect>
          <teamArtEffect>0.25</teamArtEffect>
          <teamSaltEffect>1</teamSaltEffect>
          <teamSleepEffect>1</teamSleepEffect>
	      </Event>
       <Event id="2">
         <FlavorText>"Panne de courant!"</FlavorText>
         <teamProgEffect>0</teamProgEffect>
         <teamArtEffect>0.25</teamArtEffect>
         <teamSaltEffect>0.25</teamSaltEffect>
         <teamSleepEffect>1.25</teamSleepEffect>
       </Event>
     <Event id="3">
       <FlavorText>"Le prog a trouver un sac de cocaine"</FlavorText>
       <teamProgEffect>1.25</teamProgEffect>
       <teamArtEffect>1.25</teamArtEffect>
       <teamSaltEffect>1</teamSaltEffect>
       <teamSleepEffect>0.01</teamSleepEffect>
     </Event>
     <Event id="4">
       <FlavorText>"BASTON"</FlavorText>
       <teamProgEffect>0.75</teamProgEffect>
       <teamArtEffect>0.75</teamArtEffect>
       <teamSaltEffect>1.25</teamSaltEffect>
       <teamSleepEffect>0.75</teamSleepEffect>
     </Event>
     </Events>
 </EventContainer>